body{
 background-image: url("https://p.imgci.com/db/PICTURES/CMS/366600/366647.jpg");
   /* background-color: rgb(159, 108, 108); */
}
container {
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    display: flex;
}
nav-links {
    display:flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(118, 14, 49);
    font-size: 20px;
    font-weight: bold;
    gap: 50px;
}



    logo {
    float: left;
    margin-top: 10px;
    lighting-color: rgb(5, 169, 49);
    size: 5px;
}
h1{

color: aqua;
}
left {
    width: 50%;
    float: left;
    padding-right: 40px;
}
.right {
    display: flex;
    width: 50%;
    float: right;
    text-align: right;
}
 p {
    font-size: 20px;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-image {
    width: 50%;
    border-radius:30px;
}
.btn-pink{
    color: blueviolet;
}
.container{
    display: flex;
}